$Light-red-CTA-text: hsl(356, 100%, 66%);
$Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
$Very-dark-blue-headings: hsl(208, 49%, 24%);
$Grayish-blue-footer-text: hsl(240, 2%, 79%);
$Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
$Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
$Dim-White: rgba(white, 0.7);
$Very-Light-Gray-main-bg: #fafafa;

// Gradients

$Very-light-red: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

$Section-radius: 100px;

$tablet: 768px;
